* {
  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: rgb(130, 234, 255);
  background: linear-gradient(
    144deg,
    rgba(130, 234, 255, 1) 0%,
    rgba(58, 58, 160, 1) 46%,
    rgba(24, 20, 92, 1) 92%
  );
  height: 100vh;

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F40752", endColorstr="#F9AB8F", GradientType=1 );
  background-repeat: no-repeat;
  background-size: fill;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
}

.nav-item {
  font-size: 1.7em;
  margin-right: 1.1em;
}

.home-container {
  width: 60vw;
  font-size: 1.4em;
  margin: 15vh 0 0 15vw;
}

.home-container h1 {
  color: white;
  font-size: 4em;
}

.home-container p {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

button {
  background-color: rgb(30, 30, 90);
  color: white;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px !important;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
}

button:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.btn {
  color: rgba(0, 0, 0, 0.3);
}

.btn-outline-success {
  background-color: rgba(0, 0, 0, 0.3);
}

.card {
  width: 50vw;
}
